# Game Company Data Analysis

In [84]:
#Dependencies
import pandas as pd
#Load in File from resources
file="Resources/purchase_data.csv"
#read and display with pandas
original_df=pd.read_csv(file)





#list all the columns the table provides
original_df.head()
#list all the column names
print(original_df.columns)
print()
print(len(original_df))
print()
# Identify incomplete rows
print(original_df.count())
print()






df=original_df
df.head()

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

780

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

***Player Count***

In [85]:
#Total Number of Players
player_unique=df["SN"].unique()
#print(player_unique)
print(f"The total number of players is {len(player_unique)}")

The total number of players is 576

***Purchasing Analysis (Total)***

In [86]:
print(df['Item Name'].value_counts())
print(df['Item ID'].value_counts())
#number of unique items
unique_items=df["Item Name"].unique()
print(len(unique_items))
print(price_mean)
#Total Number of Purchases
print(df["Price"].count())
#Total revenue
purchase_total=df["Price"].sum()
print(purchase_total)
purchase_mean=purchase_total/df['Price'].count()
purchasing_analysis_df=pd.DataFrame({'Discription':['Number of Unique Items','Average Purchase Price',
                                                    'Total Number of Purchasese','Total Revenue'],
                                     'Value':[(len(unique_items)),"${:,.2f}".format(purchase_mean),
                                              (df['Price'].count()),"${:,.2f}".format(purchase_total)]})
purchasing_analysis_df

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
                                                ..
The Decapitator                                  1
Exiled Mithril Longsword                         1
Betrayer                                         1
Riddle, Tribute of Ended Dreams                  1
Endbringer                                       1
Name: Item Name, Length: 179, dtype: int64
92     13
178    12
108     9
132     9
82      9
       ..
104     1
27      1
134     1
118     1
91      1
Name: Item ID, Length: 179, dtype: int64
179
3.03
780
2379.77

                  Discription      Value
0      Number of Unique Items        179
1      Average Purchase Price      $3.05
2  Total Number of Purchasese        780
3               Total Revenue  $2,379.77

***Gender Demographics***

In [83]:
gender_df=df.drop_duplicates(subset=['SN'])
gender_count=gender_df["Gender"].value_counts()
print(gender_count)
#Percentage and Count of Male Players
male_count=gender_count['Male']
male_percent=gender_count["Male"]/gender_df['Gender'].count()*100
#Percentage and Count of Female Players
female_count=gender_count['Female']
female_percent=gender_count["Female"]/gender_df['Gender'].count()*100
#Percentage and Count of Other / Non-Disclosed
other_gender_count=gender_count['Other / Non-Disclosed']
other_gender_percent=gender_count["Other / Non-Disclosed"]/gender_df['Gender'].count()*100
gender_demographics_df=pd.DataFrame({'Gender':['Male','Female','Other/Non-Disclosed'],
                                     'Count':[male_count,female_count, other_gender_count],
                                     'Percentage':["{:,.2f}%".format(male_percent), "{:,.2f}%".format(female_percent),
                                                      "{:,.2f}%".format(other_gender_percent)]})
gender_demographics_df

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

                Gender  Count Percentage
0                 Male    484     84.03%
1               Female     81     14.06%
2  Other/Non-Disclosed     11      1.91%

***Purchasing Analysis (Gender)***

The below each broken by gender

Purchase Count
Average Purchase Price
Total Purchase Value
Average Purchase Total per Person by Gender

In [117]:
pag_df=df[["Gender","Price","SN"]]
purchase_count_gender=pag_df.groupby(['Gender']).count()
average_price_gender=pag_df.groupby(['Gender']).mean()
purchase_total_gender=pag_df.groupby(['Gender']).sum()

print(purchase_count_gender)
print(average_price_gender)
print(purchase_total_gender)
person_purchase_male=pag_df.loc[df["Gender"]=="Male",:].groupby(['SN']).sum()
person_purchase_female=pag_df.loc[df["Gender"]=="Female",:].groupby(['SN']).sum()
person_purchase_other=pag_df.loc[df["Gender"]=="Other / Non-Disclosed",:].groupby(['SN']).sum()
print(person_purchase_female["Price"].mean())
print(person_purchase_male["Price"].mean())
print(person_purchase_other["Price"].mean())

pag_output_df=pd.DataFrame({"Gender":["Female","Male","Other / Non-Disclosed"],
                           "Purchase Count":[purchase_count_gender.loc["Female","Price"],
                                            purchase_count_gender.loc["Male","Price"],
                                            purchase_count_gender.loc["Other / Non-Disclosed","Price"]],
                            "Average Purchase Price":["${:,.2f}".format(average_price_gender.loc["Female","Price"]),
                                            "${:,.2f}".format(average_price_gender.loc["Male","Price"]),
                                            "${:,.2f}".format(average_price_gender.loc["Other / Non-Disclosed","Price"])],
                            "Total Purchase Value":["${:,.2f}".format(purchase_total_gender.loc["Female","Price"]),
                                            "${:,.2f}".format(purchase_total_gender.loc["Male","Price"]),
                                            "${:,.2f}".format(purchase_total_gender.loc["Other / Non-Disclosed","Price"])],
                            "Average Purchase Total per Person by Gender":["${:,.2f}".format(person_purchase_female["Price"].mean()),
                                                                           "${:,.2f}".format(person_purchase_male["Price"].mean()),
                                                                           "${:,.2f}".format(person_purchase_other["Price"].mean())]
                           })
pag_output_df

                       Price   SN
Gender
Female                   113  113
Male                     652  652
Other / Non-Disclosed     15   15
                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000
                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19
4.468395061728394
4.06537190082645
4.5627272727272725

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

Age Demographics

The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

Purchase Count
Average Purchase Price
Total Purchase Value
Average Purchase Total per Person by Age Group

Top Spenders

Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

SN
Purchase Count
Average Purchase Price
Total Purchase Value

Most Popular Items

Identify the 5 most popular items by purchase count, then list (in a table):

Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value

Most Profitable Items

Identify the 5 most profitable items by total purchase value, then list (in a table):

Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value

As final considerations:

You must use the Pandas Library and the Jupyter Notebook.
You must submit a link to your Github/Git Lab repo that contains your Jupyter Notebook.
You must include a written description of three observable trends based on the data.
See Example Solution for a reference on expected format.

Hints and Considerations


These are challenging activities for a number of reasons. For one, these activities will require you to analyze thousands of records. Hacking through the data to look for obvious trends in Excel is just not a feasible option. The size of the data may seem daunting, but pandas will allow you to efficiently parse through it.


Second, these activities will also challenge you by requiring you to learn on your feet. Don't fool yourself into thinking: "I need to study pandas more closely before diving in." Get the basic gist of the library and then immediately get to work. When facing a daunting task, it's easy to think: "I'm just not ready to tackle it yet." But that's the surest way to never succeed. Learning to program requires one to constantly tinker, experiment, and learn on the fly. You are doing exactly the right thing, if you find yourself constantly practicing Google-Fu and diving into documentation. There is just no way (or reason) to try and memorize it all. Online references are available for you to use when you need them. So use them!


Take each of these tasks one at a time. Begin your work, answering the basic questions: "How do I import the data?" "How do I convert the data into a DataFrame?" "How do I build the first table?" Don't get intimidated by the number of asks. Many of them are repetitive in nature with just a few tweaks. Be persistent and creative!


Expect these exercises to take time! Don't get discouraged if you find yourself spending  hours initially with little progress. Force yourself to deal with the discomfort of not knowing and forge ahead. Consider these hours an investment in your future!


As always, feel encouraged to work in groups and get help from your TAs and Instructor. Just remember, true success comes from mastery and not a completed homework assignment. So challenge yourself to truly succeed!


Ensure your repository has regular commits (i.e. 20+ commits) and a thorough README.md file