# Game Company Data Analysis

In [24]:
#Dependencies
import pandas as pd
#Load in File from resources
file="Resources/purchase_data.csv"
#read and display with pandas
original_df=pd.read_csv(file)





#list all the columns the table provides
original_df.head()
#list all the column names
print(original_df.columns)
print()
print(len(original_df))
print()
# Identify incomplete rows
print(original_df.count())
print()






df=original_df
df.head()

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

780

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

***Player Count***

In [16]:
#Total Number of Players
player_unique=df["SN"].unique()
#print(player_unique)
print(f"The total number of players is {len(player_unique)}")

The total number of players is 576

***Purchasing Analysis (Total)***

In [64]:
print(df['Item Name'].value_counts())
#number of unique items
unique_items=df["Item Name"].unique()
print(len(unique_items))
#average purchase price
unique_price=df["Price"].unique()
price_mean=round(unique_price.sum()/len(unique_price),2)
print(price_mean)
#Total Number of Purchases
print(df["Price"].count())
#Total revenue
purchase_total=round(df["Price"].sum(),2)
print(purchase_total)
purchasing_analysis_df=pd.DataFrame({'Discription':['Number of Unique Items','Average Purchase Price',
                                                    'Total Number of Purchasese','Total Revenue'],
                                     'Value':[(len(unique_items)),price_mean,(df['Price'].count()),purchase_total]})
purchasing_analysis_df

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
                                                ..
The Decapitator                                  1
Exiled Mithril Longsword                         1
Betrayer                                         1
Riddle, Tribute of Ended Dreams                  1
Endbringer                                       1
Name: Item Name, Length: 179, dtype: int64
179
3.03
780
2379.77

                  Discription    Value
0      Number of Unique Items   179.00
1      Average Purchase Price     3.03
2  Total Number of Purchasese   780.00
3               Total Revenue  2379.77

***Gender Demographics***

In [63]:
gender_count=df["Gender"].value_counts()
print(gender_count)
#Percentage and Count of Male Players
male_count=gender_count['Male']
male_percent=round(gender_count["Male"]/df['Gender'].count()*100,2)
#Percentage and Count of Female Players
female_count=gender_count['Female']
female_percent=round(gender_count["Female"]/df['Gender'].count()*100,2)
#Percentage and Count of Other / Non-Disclosed
other_gender_count=gender_count['Other / Non-Disclosed']
other_gender_percent=round(gender_count["Other / Non-Disclosed"]/df['Gender'].count()*100,2)
gender_demographics_df=pd.DataFrame({'Gender':['Male','Female','Other/Non-Disclosed'],
                                     'Count':[male_count,female_count, other_gender_count],
                                     'Percentage':[male_percent, female_percent,other_gender_percent]})
gender_demographics_df

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

                Gender  Count  Percentage
0                 Male    652       83.59
1               Female    113       14.49
2  Other/Non-Disclosed     15        1.92

***Purchasing Analysis (Gender)***

The below each broken by gender

Purchase Count
Average Purchase Price
Total Purchase Value
Average Purchase Total per Person by Gender

In [52]:
male_df=df.loc[df["Gender"]=="Male",:]
male_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

Age Demographics

The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

Purchase Count
Average Purchase Price
Total Purchase Value
Average Purchase Total per Person by Age Group

Top Spenders

Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

SN
Purchase Count
Average Purchase Price
Total Purchase Value

Most Popular Items

Identify the 5 most popular items by purchase count, then list (in a table):

Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value

Most Profitable Items

Identify the 5 most profitable items by total purchase value, then list (in a table):

Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value

As final considerations:

You must use the Pandas Library and the Jupyter Notebook.
You must submit a link to your Github/Git Lab repo that contains your Jupyter Notebook.
You must include a written description of three observable trends based on the data.
See Example Solution for a reference on expected format.

Hints and Considerations


These are challenging activities for a number of reasons. For one, these activities will require you to analyze thousands of records. Hacking through the data to look for obvious trends in Excel is just not a feasible option. The size of the data may seem daunting, but pandas will allow you to efficiently parse through it.


Second, these activities will also challenge you by requiring you to learn on your feet. Don't fool yourself into thinking: "I need to study pandas more closely before diving in." Get the basic gist of the library and then immediately get to work. When facing a daunting task, it's easy to think: "I'm just not ready to tackle it yet." But that's the surest way to never succeed. Learning to program requires one to constantly tinker, experiment, and learn on the fly. You are doing exactly the right thing, if you find yourself constantly practicing Google-Fu and diving into documentation. There is just no way (or reason) to try and memorize it all. Online references are available for you to use when you need them. So use them!


Take each of these tasks one at a time. Begin your work, answering the basic questions: "How do I import the data?" "How do I convert the data into a DataFrame?" "How do I build the first table?" Don't get intimidated by the number of asks. Many of them are repetitive in nature with just a few tweaks. Be persistent and creative!


Expect these exercises to take time! Don't get discouraged if you find yourself spending  hours initially with little progress. Force yourself to deal with the discomfort of not knowing and forge ahead. Consider these hours an investment in your future!


As always, feel encouraged to work in groups and get help from your TAs and Instructor. Just remember, true success comes from mastery and not a completed homework assignment. So challenge yourself to truly succeed!


Ensure your repository has regular commits (i.e. 20+ commits) and a thorough README.md file