# Game Company Data Analysis

## setup module, input data, create dataframe

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
df=purchase_data
#Total Number of Players
player_unique=df["SN"].unique()
#print(player_unique)
player_count_df=pd.DataFrame({'Total_Players':[len(player_unique)]})
player_count_df

   Total_Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of unique items
unique_items=df["Item Name"].unique()
# Total Number of Purchases
purchase_num=df["Price"].count()
# Total revenue
purchase_total=df["Price"].sum()
# Average purchase price
purchase_mean=purchase_total/df['Price'].count()

purchasing_analysis_df=pd.DataFrame({'Number of Unique Items':[(len(unique_items))],
                                     'Average Purchase Price':["${:,.2f}".format(purchase_mean)],
                                     'Total Number of Purchasese':[purchase_num],
                                     'Total Revenue':["${:,.2f}".format(purchase_total)]})
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchasese,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#drop the user duplicates 
gender_df=df.drop_duplicates(subset=['SN'])
#get the gender count
gender_count=gender_df["Gender"].value_counts()
gender_output_df=pd.DataFrame(list(gender_count.items()),columns = ['Gender','Total Count'])
#calculate the gender percentage
gender_output_df["Percentage of Players"] =round(gender_output_df["Total Count"]/gender_df['Gender'].count(),4)
gender_output_df['Percentage of Players'] = pd.Series(["{0:.2f}%".format(val * 100) for val in gender_output_df['Percentage of Players']])
gender_output_df

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Create Subset pag_df for Purchasing Analysis (Gender)
pag_df=df[["Gender","Price","SN"]].copy()

#Perform calculations on Purchase Count, Average Purchase Price, Total Purchase Value
purchase_count_gender=pag_df.groupby(['Gender']).count()
average_price_gender=pag_df.groupby(['Gender']).mean()
purchase_total_gender=pag_df.groupby(['Gender']).sum()

#Average Purchase Total per Person by Gender
person_purchase_male=pag_df.loc[df["Gender"]=="Male",:].groupby(['SN']).sum()
person_purchase_female=pag_df.loc[df["Gender"]=="Female",:].groupby(['SN']).sum()
person_purchase_other=pag_df.loc[df["Gender"]=="Other / Non-Disclosed",:].groupby(['SN']).sum()

# format the result and output into a table
pag_output_df=pd.DataFrame({"Gender":["Female","Male","Other / Non-Disclosed"],
                           "Purchase Count":[purchase_count_gender.loc["Female","Price"],
                                            purchase_count_gender.loc["Male","Price"],
                                            purchase_count_gender.loc["Other / Non-Disclosed","Price"]],
                            "Average Purchase Price":["${:,.2f}".format(average_price_gender.loc["Female","Price"]),
                                            "${:,.2f}".format(average_price_gender.loc["Male","Price"]),
                                            "${:,.2f}".format(average_price_gender.loc["Other / Non-Disclosed","Price"])],
                            "Total Purchase Value":["${:,.2f}".format(purchase_total_gender.loc["Female","Price"]),
                                            "${:,.2f}".format(purchase_total_gender.loc["Male","Price"]),
                                            "${:,.2f}".format(purchase_total_gender.loc["Other / Non-Disclosed","Price"])],
                            "Average Purchase Total per Person by Gender":["${:,.2f}".format(person_purchase_female["Price"].mean()),
                                                                           "${:,.2f}".format(person_purchase_male["Price"].mean()),
                                                                           "${:,.2f}".format(person_purchase_other["Price"].mean())]
                           })

pag_output_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#create Age Demographics DataFrame ad_df, drop the duplicates
ad_df=df[["Age","Price","SN"]].copy()
ad_df=ad_df.drop_duplicates(subset=['SN'])

#assign the bin values and group_names
bins=[(ad_df['Age'].min()-1), 9,14,19,24,29,34,39,(ad_df['Age'].max()+1)]
group_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
ad_df["Age Group"]= pd.cut(ad_df['Age'], bins, labels=group_names,include_lowest=False)

#calculate the total and percentage
ad_output_df=ad_df.groupby(['Age Group']).count()[["Age"]]
ad_output_df["Percentage of Players"]=100*ad_output_df["Age"]/(ad_output_df["Age"].sum())
ad_output_df['Percentage of Players'] = ad_output_df['Percentage of Players'].map('{:,.2f}%'.format)
ad_output_df=ad_output_df.rename(columns={"Age":"Total Count"})

#output result in a Table
ad_output_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Create Purchase Analyais DataFrame paa_df
paa_df=df[["Age","Price","SN"]].copy()

#assign the bin values and group_names
bins=[(paa_df['Age'].min()-1), 9,14,19,24,29,34,39,(paa_df['Age'].max()+1)]
group_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
paa_df["Age Group"]= pd.cut(paa_df['Age'], bins, labels=group_names,include_lowest=False)

#group data by age and perform analysis on their purchases
grouped_paa_df=paa_df.groupby(['Age Group'])
paa_count=grouped_paa_df['Price'].count()
paa_mean=grouped_paa_df['Price'].mean()
paa_sum=grouped_paa_df['Price'].sum()
paa_output_df=pd.DataFrame({"Purchase Count":paa_count,"Average Purchase Price":paa_mean,'Total Purchase Value':paa_sum})
paa_output_df['Avg Total Purchase per Person']=paa_output_df['Total Purchase Value']/ad_output_df['Total Count']

# format and output the result into a table
paa_output_df['Average Purchase Price'] = paa_output_df['Average Purchase Price'].map('${:,.2f}'.format)
paa_output_df['Total Purchase Value'] = paa_output_df['Total Purchase Value'].map('${:,.2f}'.format)
paa_output_df['Avg Total Purchase per Person'] = paa_output_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)
paa_output_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame